html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
}

h1, h2, h3, p {
  font-family: helvetica;
  padding: 0;
  margin: 0;
}


/*-------------------Main container for CSS grid-------------------*/
.main-container{
  display: grid;
  height: 150vh;
  width: 100vw;

  grid-template-columns: minmax(150px, 0.1fr) 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "header content"
    "header content"
}




/*---------------Elements CSS-----------------*/




header {
  background-color: blue;
  grid-area: header;
  border-radius: 10px;
  
  display: grid;
  grid-template-rows: 0.1fr 0.1fr 0.1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "studbud"
    "stopwatch"
    "spotify-container"
    "."
}

.studbud{
  background-color: navy;
  grid-area: studbud;
  border-radius: 10px;
  margin: 0;
}

.spotify-container{
  grid-area: spotify;
}

.content {
  background-color: lightgrey;
  grid-area: content;
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "kanban kanban" 
    "reading-list task-list";
}
.kanban-top-container{
  grid-area: "kanban-top-container";
  background-color: white;
  font-family: helvetica;
  margin: 10px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "kanban-top title . spotify-container"
}

.kanban{
  background-color: white;
  display: grid;
  grid-area: kanban;
  grid-template-columns: 1fr 0.1fr;
  grid-template-rows: 0.1fr 1fr;
  grid-template-areas: 
  "kanban-top-container ."
  "kanban-column-wrapper kanban-add";
}

.kanban-column-wrapper{
  background-color: white;
  grid-area: kanban-column-wrapper;
  padding: 10px;
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-template-rows: 1fr;
  gap: 10px;
}

.kanban-column{
  background-color: lightgray;
  height: 1fr;
  border-radius: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
  grid-template-rows: 1fr;
  gap: 10px;
  padding: 0;

}

.kanban-title{
  resize: none;
  max-width: 90%;
  font-size: 25px;
  background-color: lightgrey;
  border: none;
  margin: 5px;
  border-radius: 10px;
  font-family: helvetica;
}

.new-column-title{
  font-family: helvetica;
}

.kanban-add{
  background-color: red;
  grid-area: kanban-add;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  float: right;
}

.kanban-add:hover{
  background-color: rgb(141, 0, 0);
  cursor: pointer;
}

.add-tile-button{
  background-color: red;
  margin: 10px;
  border-radius: 10px;
  border: none;
  width: 90%;
  height: 10%;
}

.add-tile-button:hover{
  background-color: rgb(141, 0, 0);
  margin: 10px;
  border-radius: 10px;
  border: none;
  width: 90%;
  height: 10%;
}

.stopwatch{
  grid-area: stopwatch;

}

.reading-list{
  background-color: lightgray;
  grid-area: reading-list;
  margin: 10px;
  padding: 10px;
  border-color: black;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  font-family: helvetica;
}

.task-list{
  background-color: lightgrey;
  grid-area: task-list;
  margin: 10px;
  padding: 10px;
  border-color: black;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  font-family: helvetica;
}



/*Responsive CSS for Mobile/thin desktop windows*/

@media only screen and (max-width: 1000px){
  .main-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;
    grid-template-areas:
      "header"
      "content";
  }

  .content {
    background-color: lightgrey;
    grid-area: content;
  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
      "kanban" 
      "task-list"
      "reading-list";
      
  }

  .kanban{
    background-color: white;
    display: grid;
    grid-area: kanban;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    grid-template-areas: 
    "kanban-top-container"
    "kanban-column-wrapper" 
    "kanban-add";
  }

  .kanban-column-wrapper{
    background-color: white;
    grid-area: kanban-column-wrapper;
    padding: 10px;
    display: grid; 
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
    grid-template-columns: 1fr;
    gap: 10px;
  }

  header {
    background-color: blue;
    grid-area: header;
    
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.1fr 1fr;
    grid-template-areas: 
      "studbud stopwatch"; 
  }
}
